h1, h2, h3 {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 48px;
    color: #1a1a1a;
}

h3 {
    font-size: 24px;
    color: #4c4c4c;
    margin-bottom: 30px;
    
}

.navigation-links {
    display: flex;
    justify-content: center;
}

.about-link {
    color: white;
    background-color: magenta;
    padding: 20px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.contact-link {
    color: magenta;
    background-color: white;
    padding: 20px 10px;
    border: 1px solid magenta;
    border-radius: 5px;
    text-decoration: none;
}

.homepage-link {
    text-align: center;
    display: block;
    color: magenta;
}

p {
    background-color: lightgray;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center; 
}

.about-paragraphs {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.about-paragraphs p {
    margin: 15px;
}



